<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrj.commerce.runtime.persistence.EventMapper">
 <insert id="insert">INSERT INTO platform_event(event_id,tenant_id,event_type,aggregate_id,aggregate_version,payload_json,status) VALUES(#{id},#{tenant},#{type},#{aggregate},#{version},#{json},'PENDING')</insert>
</mapper>
